a{
    color: rgb(206, 42, 42);
    padding: 10px;

}
.img{
    height: 400px;
}
.hender{
    margin-top: 20px;
    width: 95%;
    text-align: center;
    border-radius: 5px;
}
.khung{
    display: flex;
    justify-content: space-around;
}