.khung{

    margin-top: 30px;

}
.item{
    display: flex;
    flex-direction: column;
}


h6{

    height:auto;
    width: 80%;
    background-color: cadetblue;
    border-radius: 2px;
    border: 1px solid black;
}
a{
    color: white;
    padding: 10px;

}
.hender{
    display: flex;
    margin-top: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 95%;
    margin: auto;
    gap: 20px;
}
.menu{
    margin-bottom: 100px;
}