.khung{
    margin-top: 30px;

}
h6{

    height:auto;
    width: 80%;
    background-color: cadetblue;
    border-radius: 2px;
    border: 1px solid black;
}
a{
    color: white;
    padding: 10px;

}
.hender{
    margin-top: 20px;
}