*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    gap: 100px;
}
.grid-container{
    width: 100%;
    display: grid;
    background-color:rgb(84, 85, 87);
    position: fixed;
}
.logo{
    width: 80%;
    height: 60px;
    grid-column: 1/12;
}
.menu{
    grid-column: 10/12;
    padding: 20px;
   
}
a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
.anh1{
    text-align: center;
    width:100%;
    height: 500px;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgb(71, 68, 68);
}
.ngang1{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content:space-around;
}
.ngang{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content:space-around;
}
.anh2{
    width: 700px;
    height: 400px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-radius: 10px;
}
.anh3{
    border-radius: 10px;
    width: 700px;
    height: 400px;
    float: right;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}
.ttsp{
    text-align: center;
    margin-top: 150px;
}
.nut{
    background-color: rgb(106, 106, 223);
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 20px;
    padding: 10px;
    color:white;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    height: 300px;
    background-color: rgb(50, 48, 45);
}
.ft{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media screen and (max-width:768px) {
.ngang1{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.ngang{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.anh1{
    text-align: center;
    width: 100%;
    height: 500px;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgb(71, 68, 68);
}
.ft{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

}